@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap%27");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.25s ease-in-out;
    font-family: "Poppins", sans-serif;
  }

  .main{
    display: flex;
    justify-content: space-around;
  }
.home-image{
    width: 55%;
    margin-top: 2rem;

}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    gap: 5rem;
    margin-top: 10rem;
}

.button{
    border: none;
    width: 30%;
    height: 13%;
    border-radius: 20px;
    font-size: 25px;
    background-color: #F53D47;
    margin-top: 2rem;
    cursor: pointer;
}

.description{
    font-size: 20px;
    line-height: 2rem;
    text-align: center;
    margin-right: 2rem;
}

.button:hover{
    background-color: #eb262f ;
}

.button a{
    text-decoration: none;
    color: white;
}

.content-main{
    text-align: center;
}
#title-web{
    margin: 3rem auto;
    font-size: 3.5rem;
    color:  white ;

}
#search-form{
    margin-right: 1rem;
    width: 40%;
    height: 2.5rem;
    border-radius: 5px 5px 0px 0px;
    border: none;
    box-shadow: 0px 0px 3px 3px #ccc;
    padding-left: 10px;
    font-size: 15px;
}
#submit-form, .Watch-button{
    
    width: 5rem;
    height: 2.5rem;
    border-radius: 10px;
    border: none;
    background-color: #F53D47 ;
    color: #fff;
    /* font-family: 'Rubik Distressed', cursive; */

}
#submit-form:hover {
    background-color: #eb262f ;
    cursor: pointer;
}
.fa-star{
    color: gold;
}

.Watch-button:hover {
    background-color: #eb262f ;
    cursor: pointer;
}

.movie{

    display: flex;
    justify-content:center;
    margin-top: 5rem;
    margin-bottom: 1rem;
}
.movie-img{
    width: 12rem;
    height: 15rem;
   margin-bottom: 3rem;
   border-radius: 1rem;
}
.about{
    margin-left: 5rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}
.about h2{
    margin-bottom: 1.2rem;
}
.about p{
    margin-bottom: 2rem;
}

ul{
    list-style: none;
}

.list{
    width: 40%;
    background-color: white;
    border-radius:  0px 0px 5px 5px ;
    border: none;
    /* margin: 0 auto; */
    margin-left: 20rem;
}

.list-item{
    padding: 10px ;
    text-align: left;
    cursor: pointer;
}

.list-item:hover{
    background-color: #e3e3e3;
}
.main-body{
    height: 92vh;
    background: linear-gradient(135deg,#F53D47, #e3e3e3)
}